@import '../../styles/config.variables';
@import '../../styles/config.mixins';

.Header{
  width:100%;
  background-color: transparent;
  height:80px;
  display: flex;
  font-size: calc(10px + 1vmin);
  color: #282c34;
  padding:20px 0;
  border-bottom:2px solid rgba(40, 44, 52, .4);

  h1{
    margin:0;
    font-size: 1.5rem;
    align-items: center;
    @include break(md){
      font-size: 2rem;
    }
  }
  
  .Header-dropdown{
    position: relative;
  }

  .Header-dropdown-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width:100vw;
    top:3.65rem;
    right:-1.5rem;
    text-align:left;
    margin:100;
    background:white;
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.1);
    box-shadow:0 0 10px 0 rgba(0,0,0,0.1);
    z-index:1;

    a{
      padding: 1.2rem 0;
      font-size:1.15rem;
    }
  }

  .Header-inner{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .Header-menu{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin:0 0 0 auto;

      .Header-menu-item{
        list-style: none;
        margin-left:1em;
        
        &--active{
          color:$colorpink;
          // border-bottom:2px solid $colorpink;
        }

        &--dropdown{
          margin:1.6rem;
          border-bottom:unset;
        }
      }
    }
  }
}

button{
  background:transparent;
}
