@import '../../styles/config.variables';
@import '../../styles/config.mixins';

.Header{
  width:100%;
  background-color: transparent;
  height:80px;
  display: flex;
  /* align-items: center; */
  font-size: calc(10px + 1vmin);
  color: #282c34;
  padding:20px;
  border-bottom:2px solid rgba(40, 44, 52, .4);

  h1{
      margin:0;
      font-size: 1.5rem;
      align-items: center;
      @include break(md){
        font-size: 2rem;
      }
  }
  
  .Header-inner{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .Header-menu{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin:0 0 0 auto;

      .Header-menu-item{
          list-style: none;
          margin-left:1em;
      }
    }
  }
}