@import '../../styles/config.variables';
@import '../../styles/config.mixins';

.ArtWorks{
    margin:2rem 0;
}

.ArtWorks-img{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    img{
        width:100%;
    }
}

.ArtWorks-btn{
    position: absolute;
    width: 16rem;
    padding: 1.8rem 0 1.6rem;
    font-size: 2rem;
    background: $colorblack;//variable is imported by config.variables.scss
    color:white;

    &:hover, &:focus{
        background:black;
        transition:.4s background-color;
    }
}

.ArtWorks-details{
    display:flex;
    align-items:center;
    flex-direction: column;
    
    h3{
        font-size:2rem;
        border-bottom:.2rem solid;
        width:max-content;
        margin-right:1.6rem;
    }

    @include break(md){
        display: flex;
        flex-direction: row;
    }
}

.Artworks-title--active{
    color: $colorpink;
    transition: .4s color;
}

// Unnecessary line because already added conditions in Artworks.jsx
// .Artworks-category{
//     &:after{
//         content: ',';
//     }
//     &:last-child:after{
//         content: '';
//     }
// }
